{% extends 'layout.html' %}




{% block sub_header %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Lorem Ipsum is simply dummy text</h1>
        <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet libero a odio
            tincidunt tempus. </p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="#">Featured post</a>
                </h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                    lead-in to additional content.</p>
                <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" src="https://i.imgur.com/FtpV3KB.png"
                alt="Card image cap">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">Design</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="#">Post title</a>
                </h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                    lead-in to additional content.</p>
                <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" src="https://i.imgur.com/ZINePak.png"
                alt="Card image cap">
        </div>
    </div>
</div>
</div>
{% endblock sub_header %}


{% block content %}
<h3 class="pb-3 mb-4 font-italic border-bottom">
    From the Firehose
</h3>
{% for post in posts %}

<div class="blog-post">
    <h2 class="blog-post-title"> <a href="/posts/{{post.pk}}">{{post.title}}</a> </h2>
    <p class="blog-post-meta"> {{post.created_at|date:'d, M Y'}} by <a href="#"> {{post.author}} </a>
    </p>

    {{post.summary|safe}}
</div><!-- /.blog-post -->


{% endfor %}

<nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
</nav>
{% endblock content %}