{% extends 'layout.html' %}

{% block content %}
<div class="blog-post">
    <h2 class="blog-post-title"> {{post.title}} </h2>
    <p class="blog-post-meta"> {{post.created_at|date:'d, M Y'}} by <strong>{{post.author}}</strong>
    </p>

    {{post.content|safe}}
</div><!-- /.blog-post -->
{% endblock content %}